Sử dụng dữ liệu trong file `us_youtube_trending.xlsx` thực hiện các yêu cầu sau:

In [1]:
import numpy as np
import pandas as pd

In [3]:
yt = pd.read_excel(r'..\data\us_youtube_trending.xlsx')
yt.head()

,video_id,trending_date,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled
0,2kyS6SvSYSE,2017-11-14,CaseyNeistat,22,2017-11-13T17:13:01.000Z,748374,57527,2966,15954,False,False
1,1ZAPwfrtAFY,2017-11-14,LastWeekTonight,24,2017-11-13T07:30:00.000Z,2418783,97185,6146,12703,False,False
2,5qpjK5DgCt4,2017-11-14,Rudy Mancuso,23,2017-11-12T19:05:24.000Z,3191434,146033,5339,8181,False,False
3,puqaWrEC7tY,2017-11-14,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,343168,10172,666,2146,False,False
4,d380meD0W0M,2017-11-14,nigahiga,24,2017-11-12T18:01:41.000Z,2095731,132235,1989,17518,False,False

## Bài 1

Kiểm tra kiểu dữ liệu của từng cột trong file. Chuyển cột `trending_date` và `publish_time` về đúng kiểu dữ liệu datetime.

In [12]:
yt.dtypes

video_id             object
trending_date        object
title                object
channel_title        object
category_id           int64
publish_time         object
views                 int64
likes                 int64
dislikes              int64
comment_count         int64
comments_disabled      bool
ratings_disabled       bool
video_error            bool
dtype: object

In [13]:
yt['trending_date'] = pd.to_datetime(yt['trending_date'])
yt['publish_time'] = pd.to_datetime(yt['publish_time'])

## Bài 2

Tính các đại lượng thống kê mô tả của bảng dữ liệu và hệ số tương quan của các cột views, likes, dislikes và comment_count.

In [3]:
yt.describe()

       category_id         views         likes      dislikes  comment_count
count  9881.000000  9.881000e+03  9.881000e+03  9.881000e+03    9881.000000
mean     19.970347  1.288900e+06  4.746089e+04  3.066993e+03    5817.316668
std       7.544083  5.110157e+06  1.705132e+05  3.889208e+04   30624.868658
min       1.000000  6.870000e+02  0.000000e+00  0.000000e+00       0.000000
25%      17.000000  8.960900e+04  2.031000e+03  8.500000e+01     273.000000
50%      24.000000  3.116210e+05  9.003000e+03  3.250000e+02    1031.000000
75%      25.000000  1.001367e+06  2.942500e+04  1.131000e+03    3377.000000
max      43.000000  1.493761e+08  3.093544e+06  1.643059e+06  827755.000000

In [5]:
yt[['views','likes','dislikes','comment_count']].corr()

                  views     likes  dislikes  comment_count
views          1.000000  0.880433  0.673456       0.775262
likes          0.880433  1.000000  0.530022       0.850243
dislikes       0.673456  0.530022  1.000000       0.756843
comment_count  0.775262  0.850243  0.756843       1.000000

## Bài 3
Sắp xếp bảng theo cột `channel_title` (từ A-Z) rồi theo `views` (giảm dần).

In [4]:
yt.sort_values(by=['channel_title', 'views'], ascending=[True, False])

,video_id,trending_date,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled
550,9KIP-Ncp2jU,2017-11-16,12 News,22,2017-11-11T01:03:01.000Z,92327,182,45,0,False,False
315,9KIP-Ncp2jU,2017-11-15,12 News,22,2017-11-11T01:03:01.000Z,85643,170,45,0,False,False
1968,8-Cjsnq8kVU,2017-11-23,20th Century Fox,1,2017-11-15T14:01:03.000Z,12382809,328876,7238,14836,False,False
1728,8-Cjsnq8kVU,2017-11-22,20th Century Fox,1,2017-11-15T14:01:03.000Z,11907002,320679,7145,14357,False,False
1498,8-Cjsnq8kVU,2017-11-21,20th Century Fox,1,2017-11-15T14:01:03.000Z,11362593,311331,6888,13985,False,False
...,...,...,...,...,...,...,...,...,...,...,...
7821,NePlddZpNKs,2017-12-23,wdwmagic,19,2017-12-18T22:00:48.000Z,1028272,11643,8835,9649,False,False
7592,NePlddZpNKs,2017-12-22,wdwmagic,19,2017-12-18T22:00:48.000Z,1010286,11578,8786,9515,False,False
7350,NePlddZpNKs,2017-12-21,wdwmagic,19,2017-12-18T22:00:48.000Z,966532,11380,8648,9775,False,False
7130,NePlddZpNKs,2017-12-20,wdwmagic,19,2017-12-18T22:00:48.000Z,792374,10060,7688,8804,False,False
6921,NePlddZpNKs,2017-12-19,wdwmagic,19,2017-12-18T22:00:48.000Z,188213,4174,2743,2525,False,False

## Bài 4
Lọc ra những video có lượng views trên 10 triệu và lượng likes trên 100,000. Tìm ra 5 video có số comment cao nhất trong số đó.

In [5]:
top_trending = yt[(data['views']>10000000) & (yt['likes']>100000)]
top_trending.nlargest(n=5, columns=['comment_count'])

,video_id,trending_date,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled
4961,FlsCjmMhFmw,2017-12-09,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,75969469,2251797,1127798,827755,False,False
5860,FlsCjmMhFmw,2017-12-13,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,137843120,3014471,1602383,817582,False,False
6103,FlsCjmMhFmw,2017-12-14,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,149376127,3093544,1643059,810698,False,False
5629,FlsCjmMhFmw,2017-12-12,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,125432237,2912702,1545015,807558,False,False
5386,FlsCjmMhFmw,2017-12-11,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,113874632,2811215,1470383,787174,False,False

## Bài 5
Lọc những video bị tắt tính năng comments và rating. Đếm số bản ghi của từng category sau khi lọc

In [56]:
una = yt[(yt['comments_disabled'] == True) & (yt['ratings_disabled'] == True)]
una.groupby(['category_id']).size()

category_id
1     7
10    8
17    7
24    4
25    1
28    1
29    4
dtype: int64